/*!
  Global starts
  */


body
  +background-image(linear-gradient(35deg, rgba(174, 213, 141, 1.0), rgba(48, 136, 65, 1.0)))

.site-content
  +whitebg

.screen-reader-text
  +screenreader

.banner
  padding: 1rem
  width: 100%
  float: left
  clear: both

.textbanner
  font-size: 1.65em
  text-align: center
  display: block
  margin: 0
  width: 100%
  color: rgba(255,255,255,1.0)
  @include breakpoint(verysmall)
    font-size: 1em
  @include breakpoint(small)
    font-size: 1em
  @include breakpoint(medium)
    font-size: 1.3em


.homepage-content-1
  +col-2-3
  padding-right: 1rem
  padding-left: 0

.homepage-content-2
  +col-1-3
  padding-right: 0
  padding-left: 1rem


.adbox
  background: $lightgrey
  +box-shadow(white 0 80px 0 0 inset)

  p
    color: $primary
    font-size: 1.1em
    font-weight: 700
    padding: 0.9rem
    position: relative
    line-height: 1
    margin: 0


  span
    position: relative
    display: inline-block
    font-size: 5em
    line-height: 1
    margin-bottom: -10px

  div
    +primarybg
    font-size: 0.5em
    padding: 0.5rem

.hero
  clear: both

.entry-title
  +primaryColor
  font-size: 1.6em

.entry-content p
  font-size: 0.7em
  color: $text


// courses blocks //

.grid
  position: relative
  +col-max
  list-style: none
  text-align: center
  padding-left: 1rem

  .cols
    +col-1-3
    padding: 1rem 1rem 1rem 0
    @include breakpoint(medium)
      width: 100%




  figure
    position: relative
    overflow: hidden
    min-width: 320px
    max-width: 480px
    max-height: 360px
    padding: 0
    background: #3085a3
    text-align: center
    cursor: pointer
    margin: 0 auto


    img
      position: relative
      display: block
      min-height: 100%
      max-width: 100%
      opacity: 0.8

    figcaption
      padding: 2em
      color: #fff
      text-transform: uppercase
      font-size: 1.25em
      -webkit-backface-visibility: hidden
      backface-visibility: hidden

      &::before, &::after
        pointer-events: none

      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

      > a
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 1000
        text-indent: 200%
        white-space: nowrap
        font-size: 0
        opacity: 0

    h2
      word-spacing: -0.15em
      font-weight: 300

      span
        font-weight: 800

      margin: 0

    p
      margin: 0
      letter-spacing: 1px
      font-size: 68.5%


figure
  &.effect-marley
    figcaption
      text-align: right

    h2
      position: absolute
      right: 30px
      left: 30px
      padding: 10px 0

    p
      position: absolute
      right: 30px
      left: 30px
      padding: 10px 0
      bottom: 30px
      line-height: 1.5
      -webkit-transform: translate3d(0, 100%, 0)
      transform: translate3d(0, 100%, 0)

    h2
      top: 30px
      -webkit-transition: -webkit-transform 0.35s
      transition: transform 0.35s
      -webkit-transform: translate3d(0, 20px, 0)
      transform: translate3d(0, 20px, 0)

    &:hover h2
      -webkit-transform: translate3d(0, 0, 0)
      transform: translate3d(0, 0, 0)

    h2::after
      position: absolute
      top: 100%
      left: 0
      width: 100%
      height: 4px
      background: #fff
      content: ''
      -webkit-transform: translate3d(0, 40px, 0)
      transform: translate3d(0, 40px, 0)
      opacity: 0
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
      transition: opacity 0.35s, transform 0.35s

    p
      opacity: 0
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s
      transition: opacity 0.35s, transform 0.35s

    &:hover
      h2::after, p
        opacity: 1
        -webkit-transform: translate3d(0, 0, 0)
        transform: translate3d(0, 0, 0)


/*!
  html {
    box-sizing: border-box;

  }

  *,
  *:before,
  *:after {

    box-sizing: inherit;
  }

  body {
    background: #ffffff;

  }

  hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
  }

  ul, ol {
    margin: 0 0 1.5em 3em;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  li > ul,
  li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0 1.5em 1.5em;
  }

  img {
    height: auto;

    max-width: 100%;

  }

  figure {
    margin: 1em 0;


  table {
    margin: 0 0 1.5em;
    width: 100%;
  }

  a {
    color: royalblue;
  }

  a:visited {
    color: purple;
  }

  a:hover, a:focus, a:active {
    color: midnightblue;
  }

  a:focus {
    outline: thin dotted;
  }

  a:hover, a:active {
    outline: 0;
  }


/*!
  Global ends
