/*!
  Menu starts
  */


body
  background: #bdc3c7
  line-height: 1.5
  font-family: sans-serif
  text-transform: uppercase
  font-size: 16px
  color: #fff

a
  font-size: 16px
  display: block
  padding: 0 0 0 20px
  color: white
  text-decoration: none

#header
  background: #1E262D
  width: 100%
  position: relative
  z-index: 10
  line-height: 1.5

  &:after
    content: ""
    clear: both
    display: block

.search
  float: right
  padding: 30px

input
  border: none
  padding: 10px
  border-radius: 20px

.logo
  float: left
  padding: 26px 0 26px

  a
    display: block
    padding: 0 0 0 20px
    color: white
    text-decoration: none
    +group

nav
  float: right

  > ul
    float: left
    position: relative

  li
    list-style: none
    float: left

  .dropdown
    position: relative

  li
    a
      float: left
      padding: 35px
      +group

      &:hover
        background: #2C3E50

    ul
      display: none

    &:hover ul
      display: inline

    li
      float: none

  .dropdown
    ul
      position: absolute
      left: 0
      top: 100%
      background: #fff
      padding: 20px 0
      border-bottom: 3px solid #34495e

    li
      white-space: nowrap

      a
        padding: 10px 35px
        font-size: 13px
        min-width: 200px

  .mega-dropdown
    width: 100%
    position: absolute
    top: 100%
    left: 0
    background: #fff
    overflow: hidden
    padding: 20px 35px
    border-bottom: 3px solid #34495e

  li li a
    float: none
    color: #333
    display: block
    padding: 8px 10px
    border-radius: 3px
    font-size: 13px

    &:hover
      background: #bdc3c7
      background: #FAFBFB

.mega-col
  width: 25%
  float: left

#menu-icon
  position: absolute
  right: 0
  top: 50%
  margin-top: -12px
  margin-right: 30px
  display: none

  span
    border: 2px solid #fff
    width: 30px
    margin-bottom: 5px
    display: block
    -webkit-transition: all .2s
    transition: all .1s

@media only screen and (max-width: 1170px)
  nav > ul > li > a
    padding: 35px 15px

@media only screen and (min-width: 960px)
  nav
    display: block !important

@media only screen and (max-width: 959px)
  nav
    display: none
    width: 100%
    clear: both
    float: none
    max-height: 400px
    overflow-y: scroll

  #menu-icon
    display: inline
    top: 45px
    cursor: pointer

    &.active
      .first
        transform: rotate(45deg)
        -webkit-transform: rotate(45deg)
        margin-top: 10px

      .second
        transform: rotate(135deg)
        -webkit-transform: rotate(135deg)
        position: relative
        top: -9px

      .third
        display: none

  .search
    float: none

    input
      width: 100%

  nav
    padding: 10px

    ul, li
      float: none

    ul li a
      float: none
      padding: 8px
      display: block

  #header nav
    ul ul
      display: block
      position: static
      background: none
      border: none
      padding: 0

    a
      color: #fff
      padding: 8px

      &:hover
        background: #fff
        color: #333
        border-radius: 3px

    ul li li a:before
      content: "- "

  .mega-col
    width: 100%


/*!
  .main-navigation
    clear: both
    display: block
    float: left
    width: 100%

    ul
      display: none
      list-style: none
      margin: 0
      padding-left: 0

      ul
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2)
        float: left
        position: absolute
        top: 100%
        left: -999em
        z-index: 99999

        ul
          left: -999em
          top: 0

        li
          &:hover > ul, &.focus > ul
            left: 100%

        a
          width: 200px

      li
        &:hover > ul, &.focus > ul
          left: auto

    li
      float: left
      position: relative

    a
      display: block
      text-decoration: none

  /* Small menu.

  .menu-toggle, .main-navigation.toggled ul
    display: block

  @media screen and (min-width: 37.5em)
    .menu-toggle
      display: none

    .main-navigation ul
      display: block

  .site-main
    .comment-navigation, .posts-navigation, .post-navigation
      margin: 0 0 1.5em
      overflow: hidden

  .comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous
    float: left
    width: 50%

  .comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next
    float: right
    text-align: right
    width: 50%
  */

/*!
  .main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
  }

  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }

  .main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
  }

  .main-navigation ul ul ul {
    left: -999em;
    top: 0;
  }

  .main-navigation ul ul li:hover > ul,
  .main-navigation ul ul li.focus > ul {
    left: 100%;
  }

  .main-navigation ul ul a {
    width: 200px;
  }

  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    left: auto;
  }

  .main-navigation li {
    float: left;
    position: relative;
  }

  .main-navigation a {
    display: block;
    text-decoration: none;
  }

  /* Small menu.
  .menu-toggle,
  .main-navigation.toggled ul {
    display: block;
  }

  @media screen and (min-width: 37.5em) {
    .menu-toggle {
      display: none;
    }
    .main-navigation ul {
      display: block;
    }
  }

  .site-main .comment-navigation, .site-main
  .posts-navigation, .site-main
  .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .comment-navigation .nav-previous,
  .posts-navigation .nav-previous,
  .post-navigation .nav-previous {
    float: left;
    width: 50%;
  }

  .comment-navigation .nav-next,
  .posts-navigation .nav-next,
  .post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }

/*!
  Menu ends
  */